@mixin sizes ($width, $height) {
    height: $height;
    width: $width;        
}
@mixin disau {
    display: block;
    margin: auto;    
}
@mixin margin{
    margin-top:35px;
    margin-bottom:15px ;
}