@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
@import "tamanios";
@import "mixin";
@import "maps";
$darkblack: rgb(0, 0, 0) ;

/*Vista mobile*/
@media(min-width:480px){
 body{
     background-color: $darkblack;
     font-family: 'PT Sans Narrow', sans-serif;
     color: white;
     font-size: 30px;
}
header{
    .imgHeader{
             @include sizes ($smalwidth, $smallheight);
             @include disau;
    }
    .spanMobile{
        text-align: center;
        font-size: 25px;
    }
}
h1{
    font-size: 0%;
}
video{
    @include disau;
    margin-top: 150px;
}
.presentacion{
    #textHotel{
        text-align: center;
        font-size: 35px;
    }
    .parrafoAll{
        text-align: center;
        font-size: 25px;
        padding-left: 35px;
        padding-right: 35px;
    }
}
.carousel{
    @include sizes ($mediumwidth, $mediumheight);
    margin-left: 40px;
    margin-bottom: 100px;
}
footer{
    p{
        text-align: map-get($map: $estilos, $key:centro);
        font-size: map-get($map: $estilos, $key:size);
        color:map-get($map: $estilos, $key:color);
    }
    img{
        @include sizes ($smalwidth, $smallheight);
        @include disau;
    }
    .spanMobile{
        text-align: center;
        font-size: 20px;
    }
}
/*Fin del index*/
/*inico de Fechas*/
    #textHotel{
        text-align: center;
        font-size: 35px;
    }
    .bandaGrupo{
        text-align: center;
        color: red;
        @include margin;
    }
    .bandaGrupoRigth{
        @extend .bandaGrupo;
    }
    .daysLeft{
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 18px;
        text-align: center;
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    .daysRigth{
        @extend .daysLeft;    
    }
    img{
        @include disau;
        @include sizes ($imgmobileh, $imgmobilew);
        @include margin;
    }
    iframe{
        @include disau;
        margin-bottom: 50px;
    }
/*Fin de Fechas*/



}


@media (min-width:1024px){
    header{
        width: 100%;
        height: 160px;
        font-size: 35px;
        position: static;
        .imgHeader{
            @include sizes ($smalwidth, $smallheight);
            margin-left: 25px;
            margin-top: 25px;
        }
        .spanMobile{
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-right: 45px;
            font-size: 45px;
        }
        .transicion:hover{
            font-size: 60px ;
        }
    }
    .centerVideo{
        @include sizes (70%, 400px);
        }
    .carousel{
        @include sizes (80%, 600px);
         margin-left:10%;
    }
    /*Fin del index*/
    /*inicio de fechas*/
    h2{
        margin-top: 55px;
    }
    .bandaGrupo{ 
        text-align: start;
        font-weight: bold; 
        color: white;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 25px;
        margin-left: 45px;
        text-decoration: underline;
    }
    .bandaGrupoRigth{
        text-align: start;
        font-weight: bold; 
        color: white;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 25px;
        margin-left: 45px;
        text-decoration: underline;;
        display: inline-block;
    }
    ul{
        justify-self: start;
        align-self: center;
        margin-left: 45px;
        grid-area: lista;
        list-style-type: none;
    }
    img{
        justify-self: center;
        @include disau;
        @include sizes ($smalwidth, $smallheight);
        grid-area: logo;
    }
    iframe{
        justify-self: center;
        grid-area: video;
    }
    #gridsDays{
        display: grid;
        grid-template-areas: "lista logo video";
        grid-template-columns: 33.33% 33.33% 33.33%;
         margin-bottom: 35px;
    }
    #gridsDaysRigth{
        display: grid;
        grid-template-areas: "video logo lista";
        grid-template-columns: 33.33% 33.33% 33.33%;
         margin-bottom: 35px;
    }
    .daysLeft{
        text-align: start;
        font-size: 30px;
    }
    .daysRigth{
        text-align: start;
        font-size: 30px;
    }

}